* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.counter-actions button {
  padding: 10px 20px;
}

.counter-actions button:not(:last-child) {
  margin-right: 10px;
}

.counter-input {
  margin-top: 10px;
}

.counter-input input {
  margin-right: 10px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.product {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.product-actions {
  display: flex;
  gap: 5px;
}
.product button {
  padding: 5px 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-badge {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.cart-details {
  margin-top: 2rem;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.cart-item {
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  padding: 20px 0;
}

.cart-item-title {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.cart-item-info {
  grid-row: 2 / span 1;
}
.cart-item-info p:not(:last-child) {
  margin-bottom: 3px;
}
.cart-item-actions {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  gap: 5px;
  justify-self: end;
}
.cart-item-actions button {
  padding: 5px 10px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid #999;
}
